*{
    font-family: "Century Gothic", "Arial";
}
body{
    background-color: blanchedalmond;
}
header, footer{
    background-color: sienna;
    color: white;
    padding: 5px; 
    text-align: center;
    font-size: 130%;
}
footer{
    clear: both;
}
#lewa{
    background-color: navajowhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px dimgray; 
    /* PAMIETAC BEZ PRZECINKOW BOX SHADOW*/
    float: left;
}
nav{
    width: 50%;
    height: 50px;
    float: right;
}
#prawa{
    width: 50%;
    height: 420px;
    overflow: auto;
    float: right;
}
input, button{
    margin-top: 20px;
}
li{
    display: inline-block;
}
img{
    width: 10%;
    float: left; /*Dla selektora obrazu: szerokość 10%, opływanie po prawej stronie (obraz po lewej stronie) taki byl w egzaminie zapis i to znaczy ze float left bo tak xd*/
}
a{
    color: sienna;
    margin-right: 30px;
}
a:hover{
    color: #4C1900;
}

em{
    font-style: italic;
}